<script src="https://giscus.app/client.js"
        data-repo="donghao1393/ilikemac"
        data-repo-id="R_kgDOLTrUGQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOLTrUGc4Cdf02"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="https://ilikemac.com/giscus_light.css"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
